* {
  box-sizing: border-box;
}

body {
  background-color: rgb(193, 193, 247);
}

section {
  padding-bottom: 40px;
}

.opaque {
  background-color: rgb(200, 200, 243);
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 50px;
  -webkit-text-stroke: 1px black;
}

.projectContainer {
  height: 450px;
  width: 550o;
  border-radius: 15px;
  padding: 5px;
}

.projectImage {
  margin: 10px;
  height: 100%;
}

#proj1 {
  background-image: url(../images/animegif.gif);
  background-size: cover;
  background-position: center;
}

#proj2 {
  background-image: url(../images/video.gif);
  background-size: cover;
  background-position: center;
}

#proj3 {
  background-image: url(../images/fitnesstracker.gif);
  background-size: cover;
  background-position: center;
}

#proj4 {
  background-image: url(../images/budget.gif);
  background-size: cover;
  background-position: center;
}

#proj5 {
  background-image: url(../images/weather.gif);
  background-size: cover;
  background-position: center;
}

#proj6 {
  background-image: url(../images/demo.gif);
  background-size: cover;
  background-position: center;
}

h2 {
  background-color: rgb(107, 107, 248);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  float: right;
}

.githubLink {
  font-size: 20px;
}
